

      <div class="card border-secondary shadow  rounded mb-3" >
        <div class="card-body text-secondary">
          <div class="card-text border-secondary d-flex justify-content-end"> <span class="badge  btn btn-danger text-white"><a class="text-white" href="/api/snippets/delete/{{id}}">X</a></span></div>
          <pre class="card-text">{{snippet_text}}</pre>
          <p class="card-text"><small class="text-muted">-Created By: <span class="badge  bg-warning text-dark">{{user.username}}</span> on  {{createdAt}} </small></p>
        </div>
      </div>





  